    <div class="jumbotron">
    <h1></h1>
    <p class="lead">The ultimate show selector</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @*                          Display,    Page,       Controller                       *@
        <a href='@Url.Action("NetflixMoviesShowsList", "MovieShow")' class="hero"><img src="~/Content/Images/netflix.png" class="hero" /></a>
    </div>
    <div class="col-md-4">
        <a href="#"><img src="~/Content/Images/hulu.png" class="hero" /></a>
    </div>
    <div class="col-md-4">
        <a href="#"><img src="~/Content/Images/amazon.png" class="hero" /></a>
    </div>
</div>