@model Library.Models.Asset

@{
    ViewData["Title"] = "Create";
}

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
}

@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
}

@*Id, Discriminator, Title, Year, Cost, ImageUrl, NumberOfCopies, LocationId, Author, DeweyIndex, ISBN, Director*@

<h2>Create</h2>

<h4>Asset</h4>
<hr />

<div class="container">

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label">Title</label>
            <div class="col-sm-5">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="control-label">Year</label>
            <div class="col-sm-5">
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cost" class="control-label">Cost</label>
            <div class="col-sm-5">
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl" class="control-label">Image</label>
            <div class="col-sm-5">
                <input asp-for="ImageUrl" class="form-control" readonly placeholder="/images/default.png" value="/images/default.png" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumberOfCopies" class="control-label"># Of Copies</label>
            <div class="col-sm-5">
                <input asp-for="NumberOfCopies" class="form-control" />
                <span asp-validation-for="NumberOfCopies" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ISBN" class="control-label">ISBN</label>
            <div class="col-sm-5">
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Author" class="control-label">Author</label>
            <div class="col-sm-5">
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DeweyIndex" class="control-label">Dewey Index</label>
            <div class="col-sm-5">

                <input asp-for="DeweyIndex" class="form-control" />
                <span asp-validation-for="DeweyIndex" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="control-label">Location Code</label>
            <div class="col-sm-5">

                <input asp-for="Location" class="form-control" placeholder="1 for Providence, 2 for Fox Point, 3 for Washington" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-lg btn-success" />
        </div>
    </form>
    <br />
    <div>
        @*<a asp-action="Index">Back to CRUD Asset List</a>*@
        <a asp-controller="Asset" asp-action="Index">Back to Asset Index List</a>
    </div>
</div>


